---
import { Skeleton } from '~ui/skeleton'
---

<div class="space-y-1">
    <Skeleton className="w-full h-6" />
    <Skeleton className="w-full h-3 rounded-full" />
    <Skeleton className="w-full h-5" />
</div>
