---
import CircularProgress from '@/components/CircularProgress'
import { getRateLabel } from '@/sections/analysis/utils/get-rate-label'
import type { AdditionalContextEvaluationItem } from '@zenstackhq/runtime/models'

interface Props {
    data: AdditionalContextEvaluationItem
    title: string
}

const { data, title } = Astro.props
const severity = getRateLabel(data.influencePercentage)
---

<div class="flex-col text-center max-w-60">
    <CircularProgress
        client:visible
        progress={data.influencePercentage * 100}
        label
        strokeWidth={16}
        size={180}
        data-severity={severity}
        className="data-[severity=low]:stroke-chart-2 data-[severity=medium]:stroke-chart-4 data-[severity=high]:stroke-chart-1"
    />
    <h3 class="text-center font-semibold">{title}</h3>
    <p class="text-xs sm:text-sm text-secondary-foreground/80">
        {data.explanation}
    </p>
</div>
