---
import type { BiasedITem } from '@zenstackhq/runtime/models'
import { Progress } from '~ui/progress'

interface Props {
    data: BiasedITem
}

const { data } = Astro.props
---

<div class="space-y-1">
    <p class="text-sm sm:text-base font-medium">"{data.content}"</p>
    <div class="flex items-center gap-2">
        <Progress value={data.influencePercentage * 100} className="h-3" />
        <span class="text-sm text-muted-foreground">
            {data.influencePercentage * 100}%
        </span>
    </div>
    <p class="text-xs sm:text-sm text-muted-foreground">
        {data.explanation}
    </p>
</div>
