---
import { Skeleton } from '~ui/skeleton'
---

<div class="flex-col text-center max-w-60 space-y-1">
    <Skeleton className="size-52 rounded-full" />
    <Skeleton className="w-full max-w-52 h-6" />
    <Skeleton className="w-full max-w-56 h-16" />
</div>
