---
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from '~ui/card'
import { Skeleton } from '~ui/skeleton'
---

<div class="p-6">
    <div class="space-y-4 sm:space-y-6">
        <div class="space-y-1 sm:space-y-2">
            <Skeleton className="h-8 sm:h-10 w-3/4" />
            <Skeleton className="h-4 sm:h-5 w-2/3" />
        </div>

        <Card>
            <CardHeader className="pb-2 sm:pb-4">
                <CardTitle className="text-xl sm:text-2xl">
                    <Skeleton className="h-7 w-1/2" />
                </CardTitle>
                <CardDescription>
                    <Skeleton className="h-4 w-2/3" />
                </CardDescription>
            </CardHeader>
            <CardContent>
                <Skeleton
                    className="h-[150px] sm:h-[200px] w-full rounded-md"
                />
            </CardContent>
        </Card>

        <div class="w-full">
            <div class="block md:hidden mb-4">
                <Skeleton className="h-10 w-full rounded-md" />
            </div>

            <div class="hidden md:block mb-4">
                <Skeleton className="h-10 w-full rounded-md" />
            </div>

            <div class="mt-2">
                <Skeleton className="h-[400px] w-full rounded-md" />
            </div>
        </div>
    </div>
</div>
