---
import { analyzeTextInputSchema } from '@/schemas/analyzeTextInput'
import GenderBiasAnalysis from '@/sections/analysis/components/GenderBiasAnalysis.astro'
import GenderBiasAnalysisSkeleton from '@/sections/analysis/components/GenderBiasAnalysisSkeleton.astro'

const formData = await Astro.request.formData()
const { success, data } = analyzeTextInputSchema.safeParse(
    Object.fromEntries(formData.entries()),
)
if (!success) throw new Error('Text must be provided')
const fileSize = data.file?.size ?? 0
const fileBytes =
    fileSize > 0 ? Array.from((await data.file?.bytes()) ?? []) : undefined
---

<div class="mx-auto p-4 space-y-6">
    <GenderBiasAnalysis server:defer text={data.text} fileBytes={fileBytes}>
        <GenderBiasAnalysisSkeleton slot="fallback" />
    </GenderBiasAnalysis>
</div>
