---
import HistoryList from '@/sections/history/components/HistoryList.astro'
import { Card, CardDescription, CardHeader, CardTitle } from '~ui/card'
---

<div class="mx-auto p-4 py-10 space-y-3">
    <Card>
        <CardHeader>
            <CardTitle className="text-lg sm:text-2xl"
                >Historial de Análisis
            </CardTitle>
            <CardDescription className="text-xs sm:text-base">
                Aquí puedes ver un resumen de tus análisis de sesgos anteriores.
                Haz clic en &quot;Más detalles&quot; para expandir la
                información o en &quot;Ver análisis completo&quot; para acceder
                al informe detallado.
            </CardDescription>
        </CardHeader>
    </Card>
    <HistoryList />
</div>
