---
import ResultContainer from '@/sections/analysis/components/ResultContainer.astro'
import { getRequest } from '@/services/request'

const id = Astro.params.id ?? ''

const data = await getRequest(id, Astro.request)
if (!data) return Astro.redirect('/404')
---

<div class="mx-auto p-4 py-10 space-y-3">
    <ResultContainer data={data} />
</div>
